services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: secretary_dashboard_frontend
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
      # - "443:443"
    depends_on:
      - api
    networks:
      - app_network

  api:
    build: ./backend
    container_name: secretary_dashboard_api
    restart: always
    environment:
      NODE_ENV: production
    env_file:
      - ./.env
    depends_on:
      - postgres
    networks:
      - app_network

  postgres:
    image: postgres:16
    container_name: secretary_dashboard_postgres
    restart: always
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
