@import "tailwindcss";

/* Declare brand colors as Tailwind tokens */
@theme {
  --color-byu-navy: #002e5d;
  --color-byu-royal: #0047ba;
  --color-byu-dark-gray: #141414;
  --color-byu-medium-gray: #666666;
  --color-byu-white: #ffffff;
  --color-byu-red-bright: #e61744;
  --color-byu-red-dark: #a3082a;
  --color-byu-yellow-bright: #ffb700;
  --color-byu-brown: #8c3a00;
  --color-byu-green-bright: #10a170;
  --color-byu-green-dark: #006141;
  --color-byu-info-blue-bright: #1fb3d1;
  --color-byu-info-blue-dark: #006073;
}

:root {
  --byu-navy: #002e5d;
  --byu-royal: #0047ba;
  --byu-dark-gray: #141414;
  --byu-medium-gray: #666666;
  --byu-white: #ffffff;
  --byu-red-bright: #e61744;
  --byu-red-dark: #a3082a;
  --byu-yellow-bright: #ffb700;
  --byu-brown: #8c3a00;
  --byu-green-bright: #10a170;
  --byu-green-dark: #006141;
  --byu-info-blue-bright: #1fb3d1;
  --byu-info-blue-dark: #006073;
}
/* App Layout */
#app {
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 200rem;
  width: 100%;
  margin: 0;
  padding: 0;
  place-items: top;
}

/* nav bar hover underline */
.nav-link-hover {
  position: relative;
}
.nav-link-hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--byu-navy);
  transform: scaleX(0);
  transform-origin: left;
}
.nav-link-hover:hover::after {
  transform: scaleX(1);
}
